*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */

.border {
    border: 2px dashed black;
}

/* generics */

body {
    padding-top: 40px;
    font-family: sans-serif;
}

header {
    background-color:#ff6900 ;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

ul {
    list-style: none;
}

header img {
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

h4 {
    font-weight: 100;
}

/* utility */
.container {
    margin: 0 auto;
    width: 1080px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 15px;
    margin: 0 -30px;
}

.col {
    width: calc(100% / 3 - 30px);
}

.card {
    position: relative;
}


/* header */

header .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .link-shop {
    display: flex;
}

header a {
    font-size: 18px;
    color: #fff;
    margin-right: 8px;
}

.logo {
    width: 180px;
}

.interface-icon {
    color: #fff;
    font-size: 18px;
}

.interface-icon i {
    margin-right: 8px;
}

/* main */

main {
    padding-top: 50px;
}


/* card */
.favourite {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #fff;
}

.favourite>i {
    font-size: 20px;
    color: black;
    padding: 5px;
}

.favourite>i:hover {
    color: red;
}

.ticket-position {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: #fff;
    font-weight: bold;
}

.discount-ticket {
    padding: 5px 5px;
    background-color: red;
}

.eco-ticket {
    padding: 5px 5px;
    background-color: green;
}

.card img {
    max-width: 100%;
    display: block;
}

.product-description {
    margin-top: 8px;
}

.product-description>.new-price {
    color: red;
    font-weight: bold;
}

.product-description>.old-price {
    text-decoration: line-through;
}

/* product image */

.card>.first-product:hover {
    content: url(../img/1b.webp);
}

.card>.second-product:hover {
    content: url(../img/2b.webp);
}

.card>.third-product:hover {
    content: url(../img/3b.webp);
}

.card>.fourth-product:hover {
    content: url(../img/4b.webp);
}

.card>.fifth-product:hover {
    content: url(../img/5b.webp);
}


.card>.sixth-product:hover {
    content: url(../img/6b.webp);
}
